.div-right-navbar {
    margin-right: 10px;
}

.navbar-btn {
    margin-left: 10px;
}
.navbar-default {
	margin: 0;
}

.row {
    margin-bottom: 60px;
}
.portfolio-item {
    margin-bottom: 25px;
}

.btn-custom {
    background-color: rgba(0, 213, 255, 0.69);
    border-color: #20A8C3;
}

.btn-custom:hover {
    background-color: #20A8C3;
}

.img-circle{
  margin-bottom: 25px;
}

.equal-height {
	max-height: 150px;
  height: 150px;
}

.project-name {
  color: #20A8C3;
}
.project-equal-height {
  max-height: 700px;
  max-height: 700px;
}

.footer-text {
    background-color: #2f2f2f;
    color: #fff;
}

.jumbotron-home {
    background: url(../images/new-york-city.jpg) no-repeat center center;
    background-size: cover;
    height: 800px;
}

.content {
    margin-bottom: 24px;
    margin-top: 24px;
}

.jumbotron-about {
    background: url(../images/cat.jpg) no-repeat center center;
    background-size: cover;
    height: 325px;
}

.icon-block {
    padding: 0 70px;
}

.login-form {
    margin-top: 70px;
}

.page-head {
    margin-top: 60px;
}
.white-text {
  color: #fff;
}

.zaky-image {
  border: 10px dashed rgba(0, 213, 255, 0.69);
}

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 90px;
  background-color: #2f2f2f;
}

#footer .container {
    padding-top: 35px;
}

.navbar-default {
  background-color: #00d5ff;
  border-color: #20a8c3;
}
.navbar-default .navbar-brand {
  color: #ecf0f1;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #333333;
}
.navbar-default .navbar-text {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #333333;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #333333;
  background-color: #20a8c3;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #333333;
  background-color: #20a8c3;
}
.navbar-default .navbar-toggle {
  border-color: #20a8c3;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #20a8c3;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ecf0f1;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ecf0f1;
}
.navbar-default .navbar-link {
  color: #ecf0f1;
}
.navbar-default .navbar-link:hover {
  color: #333333;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ecf0f1;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #333333;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #333333;
    background-color: #20a8c3;
  }
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    z-index: 2;
    color: #333333;
    cursor: default;
    background-color: rgba(0, 213, 255, 0.69);
    border-color: #20a8c3;
}

